#contact {
  padding: 0;
  background-color: #ff9900;
}
.contact-box {
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
}

.contact-box h2 {
  margin: 10px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;
  font-weight: 600;
}

.contact-info span {
  margin: 10px 0;
}

.contact-info span:nth-child(2) {
  color: #ff9900;
  text-transform: uppercase;
}

.contact-form {
  padding: 0 20px;
}

.contact-form > .form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact-form > .form textarea {
  height: 100px;
}

.contact-send {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.send-button {
  width: 50%;
  padding: 10px;
  color: #ff9900;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: #fff;
}

.contact {
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  &__textarea {
    border-radius: 10px;
  }
  &__input {
    border-radius: 50px;
  }
}

@media screen and (min-width: 1080px) {
  #contact {
    padding: 0;
    background-color: #ff9900;
  }
  .contact-box {
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
  }

  .contact-box h2 {
    margin: 0;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
  }

  .contact-info span {
    margin: 10px 0;
  }

  .contact-info span:nth-child(2) {
    color: #ff9900;
    text-transform: uppercase;
  }

  .contact-form {
    padding: 0 20px;
  }

  .contact-form > .form {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .contact-form > .form textarea {
    height: 100px;
  }

  .contact-send {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
  }

  .send-button {
    width: 10%;
    padding: 10px;
    color: #ff9900;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background-color: #fff;
  }

  .contact {
    width: 25%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    &__textarea {
      border-radius: 10px;
    }
    &__input {
      border-radius: 50px;
    }
  }
}
 
  