#contact {
    padding: 0;
    background-color: #ff9900;
}
.contact-box {
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
}

.contact-box h2 {
    margin: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
}

.contact-info span {
    margin: 10px 0;
}

.contact-info span:nth-child(2) {
    color: #ff9900;
    text-transform: uppercase;
}

.contact-form{
    padding: 0 20px;
}

.contact-form > .form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact-form > .form textarea {
    height: 100px;
}

.contact-send {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

.send-button {
    width: 10%;
    padding: 10px;
    color: #ff9900;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background-color: #fff;
}

.email-input{
    width: 30%;
    margin: 10px 35%;
    padding: 10px;
    border: none;
    border-radius: 50px;
}