.pf{
    &-header{
        height: 15vh;
        padding: 10px;
        background: #4ba333;
        color: white;
        font-size: 32px;
        top: 0;
        display: flex;
    }
    &-menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        > a {
            text-decoration: none;
            color: inherit;
            margin: 10px 0 0 60px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    &-profile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        font-size: 16px;
        > li{
            margin: 10px 20px 0;
        }
    }
}