
footer {
    padding: 15px;
    align-items: center;
    background-color: #48A333;
    justify-content: space-evenly;

    >h3 {
        text-align: center;
    }
}

.icons{
  display: flex;
  align-items: center;
  > a {
      width: 150px;
  }
}

footer .icons img {
    margin: 0 20px;
    width: auto;
}


.icons img {
    max-width: 110px;
}

.footer-menu {
    background-color: #FFF;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.footer-menu > a > div {
    text-align: center;
}

.footer-menu > a > div > img{
    padding-right: 2px;
}

.footer-menu > a > div > p{
    margin: 0px;
}

.False{
  width: 50%!important;
}

@media (min-width:1080px) {
    footer {
        background-color: #48A333;
        display: flex;
        margin-bottom: 0;
        justify-content: center;
    }

    .footer-menu {
        display: none;
    }
}
